@media screen and (max-width: 1025px) and (min-width: 701px){

  .center {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    padding-left: 0px !important;
  }


  .container{
    padding-top:50px;
    position: relative;
    align-items: center;
  }

  .text-block {
    color: #fff;
    width: 200px;
    color: white;
  }

}

@media screen and (max-width: 700px){

  .center {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    padding-left: 0px !important;
  }


  .container{
    padding-top:50px;
    position: relative;
    align-items: center;
  }

  .text-block {
    color: #fff;
    width: 200px;
    color: white;
  }
}


.center {
  position: relative;
  width: 38%;
  height: auto;
  padding-left: 30%;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
}

.text-block {
  background: none repeat scroll 0 0;
  color: #fff;
  width: 200px;
  margin-left: 10px;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
}
