/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
body{
  background: #16001e !important;
}
* {
  font-family: "Montserrat";
}

h1 {
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: -webkit-center;
    margin-top: -30px;
    position: relative;
    bottom: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
