
<form>
  <div class="searchDiv">
    <input id="Search_input" required name="search" [(ngModel)]="search" class="searchInput" type="text" placeholder="Search here for your artist">
    <button class="button" [disabled]="!search" name="button" class="searchButton"  onclick="window.location.href='#popup1'" (click)="searchArtist(search)">Search</button>
  </div>
</form>

<div *ngIf="search" id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href=" ">Back to Search</a>
		<div class="content">
            <div *ngIf="artists.length > 0">
               <h4>{{artists?.length}} Results found for "{{search}}"</h4>
                <div *ngFor="let artist of artists">
                  <div class="profilecard">
                    <img src={{artist.image_url}} alt="Avatar">
                    <div class="profiletext">
                      <div class="profilename">{{artist.name}}</div>
                      {{artist.facebook_page_url}}
                    </div>
                    </div>
                </div>
              </div>
              <div *ngIf="!artists || artists.length === 0">
                <h4>No Results found for {{search}}</h4>
              </div>

              <hr>

        <div *ngIf="events.length > 0">
                  <div *ngFor="let data of events; let i = index">
                      <div class="container" *ngFor="let event of data">
                        <h4> Event Details </h4>
                        <p></p>
                        <div class="row">
                          <div class="column profiletext">
                            <div class="profilename">Country
                            </div>
                            {{event.venue.country}}
                            <p></p>
                            <div class="profilename">Venue
                            </div>
                            {{event.venue.name}}
                            </div>
                            <div class="column profiletext">
                            <div class="profilename">City
                            </div>
                            {{event.venue.city}}
                            <p></p>
                            <div class="profilename">Date
                            </div>
                            {{event.datetime | date }}
                          </div>
                    </div>
                    </div>
                  </div>
                  <div *ngIf="!data || data.length === 0">
                  <h4>No Events found for {{search}}</h4>
                </div>

        </div>


		</div>
	</div>
</div>
