<!-- Search form -->
<form class="form-inline waves-light" mdbWavesEffect>
  <div class="md-form mt-0">
    <input id="Search_input" name="search" [(ngModel)]="search" class="form-control mr-sm-2" type="text" placeholder="Search">
    <button type="button" name="button"  (click)="myFunc(search)" >Search</button>
  </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artist of artists">
            <td>{{artist.id}}</td>
            <td>{{artist.name}}</td>
            <td>{{artist.url}}</td>
        </tr>
    </tbody>
</table>
