.searchDiv {
    text-align: -webkit-center;
}
button.searchButton {
  border-radius: 25px;
  border-block-width: 3px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background: #16001e;
  border-color: #FF7A00;
  position: relative;
  left: 70px;
}

input::placeholder{
  color: #FF7A00;
}

input.searchInput {
  position: relative;
  left: -160px;
  top: -25px;
  border: #16001e;
  width: 300px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 25px;
  font-weight: 400;
  background-color: #16001e
}

body, input[type="text"], button {
    float:left;
    color: #FF7A00;
    font-weight: 400;
}

img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profilecard {
    margin: 30px;
    display: inline-flex;
}

.profiletext {
    text-align: left;
    margin-left: 20px;
}

//for overlay

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  float:left;
  transition: all 200ms;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  margin-top:20px;
  max-height: 70%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
